*{
    font-family: Roboto;
    text-decoration: none;
    outline: none;
    border: transparent;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    justify-content: center;
    margin-top: 0%;


}


:root {
    --black: #333333;
    --silver: #c6cbd4;
    --white: #fbfbfb;
    --lightish-blue: #4b74ff;
    --tangerine: #ff9800;
    --red: #d50000;
}

span{
    margin-left: 10px;
    margin-top: 5px;

}

header{
    height:150px;
}

a{
    margin-right: 2px;
    margin-left: 2px;
}

input{
    width:calc(100% - 20px);
    outline: none;
    text-decoration: none;
    box-shadow: none;
}

input[type = 'checkbox']{

}

label{
    width:inherit;
}




input + label {
    position: relative;
}


/* button */
.button{
    display: inline-block;
    font-weight: 400;
    color:            #fbfbfb;
    padding-left: 9px;
    padding-right: 9px;
    transition: 0.2s;
    display: inline-block;
    background-color: #4b74ff;
    border: solid 1px #4b74ff;

}

.button:hover{
    background-color: #C6CBD4;
    border: solid 1px #C6CBD4;
    color:            #fbfbfb;
    cursor: pointer;
}

.button:active{
    background-color: #000000;
    border: solid 1px #000000;
}



a[icon = 'Edit']:before{
    font-family: FontAwesome;
    padding-right:5px;
    content: " \f303";
}

a[icon = 'Flag']:before{
    color: black;
    font-family: FontAwesome;
    content: " \f024";
}

a[icon = 'Trash']:before{
    font-family: FontAwesome;
    padding-right:5px;
    content: " \f1f8";
}

a[icon = 'Print']:before{

    font-family: FontAwesome;
    padding-right:5px;
    content: " \f02f";
}

a[icon = 'Search']:before{

    font-family: FontAwesome;
    padding-right:5px;
    content: " \f002";
}

a[icon = 'Calendar']:before{

    font-family: FontAwesome;
    padding-right:5px;
    content: " \f073";
}

a[icon = 'Plus']:before{

    font-family: FontAwesome;
    padding-right:5px;
    content: " \f067";
}

a[icon = 'Minus']:before{

    font-family: FontAwesome;
    padding-right:5px;
    content: " \f068";
}

a[icon = 'ArrowUp']:before{

    font-family: FontAwesome;
    padding-right:5px;
    content: " \f308";
}


a[icon = 'ArrowDown']:before{

    font-family: FontAwesome;
    padding-right:5px;
    content: " \f309";
}


a[icon = 'Filter']:before{

    font-family: FontAwesome;
    padding-right:5px;
    content: " \f0b0";
}


a[icon = 'CaretUp']:before{
    font-family: FontAwesome;
    padding-right:5px;
    content: " \f0d7";
}


a[icon = 'CaretDown']:before{

    font-family: FontAwesome;
    padding-right:5px;
    content: " \f0d8";
}

a[icon = 'SortNumDown']:before{

    font-family: FontAwesome;
    padding-right:5px;
    content: " \f162";
}


a[icon = 'SortNumUp']:before{

    font-family: FontAwesome;
    padding-right:5px;
    content: " \f163";
}


a[icon = 'SortAlphaDown']:before{

    font-family: FontAwesome;
    padding-right:5px;
    content: " \f15d";
}


a[icon = 'SortAlphaUp']:before{

    font-family: FontAwesome;
    padding-right:5px;
    content: " \f15e";
}

a[icon = 'SortAmountDown']:before{

    font-family: FontAwesome;
    padding-right:5px;
    content: " \f160";
}

a[icon = 'SortAmountUp']:before{

    font-family: FontAwesome;
    padding-right:5px;
    content: " \f161";
}

a[icon = 'CtxMenu']:before{

    font-family: FontAwesome;
    padding-right:5px;
    content: " \f142";
}

a[icon = 'PlusCircle']:before{

    font-family: FontAwesome;
    padding-right:5px;
    content: " \f055";
}

a[icon = 'ExchangeAlt']:before{

    font-family: FontAwesome;
    padding-right:5px;
    content: " \f362";
}

a[icon = 'Save']:before{

    font-family: FontAwesome;
    padding-right:5px;
    content: " \f161";
}






a[icon]:hover{
    font-weight: 300;
}

.round{
    border-radius: 24px;
    background:    #4b74ff;
}

.outline{
    color:            #4b74ff;
    border: solid 1px #4b74ff;
    background:    none;
}

.shadow{
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
    border: none;
}


h1{
    font-size: 32px;
    color: var(--black);
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2{
    font-size: 24px;
    color: var(--black);
    font-weight: bold;
    margin-top: 0px;
}

h3{
    font-size: 20px;
    color: var(--black);
    font-weight: bold;
}

h3[accent]{
    color: var(--lightish-blue);
}

/* header menu */
top-menu{
    position: fixed;
    z-index: 10;
    width: 100%;
}

menu.menu_main{

    padding-left: 60px;
    margin-top: 0px;
    position: relative;
    height: 56px;
    background-color: #333333;
    padding-top: 10px;
    margin-bottom: 2%;
}

menu.menu_main label:first-child:before{
    position: absolute;
    font-family: FontAwesome;
    font-size: 20px;
    content: "\f2bb";
    color : white;
    left: -45px;
}

menu.menu_main label:first-child:hover{
    opacity: 0.3;
    -webkit-transition:0.2s ease-out;
    transition:0.2s ease-out;
}

menu.menu_main label{
    display:inline-block;
    position:relative;
    margin:0 2px;
}

menu.menu_main span{
    opacity:0.5;
    font-family:Roboto;
    cursor: pointer;
    padding:6px 12px;
    display:inline-block;
    -webkit-transition:0.2s ease-out;
    transition:0.2s ease-out;
}

menu.menu_main :checked ~ span{
    opacity:1; color:#FFF;
    border-bottom: solid 6px  #4b74ff;
}

menu.menu_main label:hover span{
    opacity:1;
}

menu{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

menu.menu_main > label > span{
    color: #fbfbfb;
    opacity: 0.3;
}

menu.menu_main input{
    display:none;
}

/* блок с инпутом */

.input_top_label{

    font-family: inherit;
    width:       100%;
    height: 14px;
    font-size:   10px;
    margin-bottom: 0px;
    color: #5a5f62;
    opacity: 0.5;
}
.input_name{
    font-family: inherit;
    width:       100%;
    height: 16px;
    font-size:   12px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.input_bottom_label{
    font-family: inherit;
    width:       100%;
    font-size:   10px;
    margin-bottom: 20px;
    color:#4b74ff;
    opacity: 0.8;
}

/* заглушка на случай пустого поля чтобы не сбивалась разметка */
.input_bottom_label:before{
    content: "*";
    color:transparent;
}

.input_container{
    display: flex;
    flex-direction: column;
    float: left;'
    width:       100%;
}


.input_in_block{
    border: solid 1px #424242;
    padding-right: 5%;
    padding-left:  10px;
    padding-right:  40px;
    font-size:     16px;
    vertical-align: middle;
    padding-bottom: 4px;
    padding-top: 4px;
    width:       100%;
}

.input_icon{
    position: absolute;
}
/* pangation */
.pangation{
    display: inline-block;
    width-min: 30px;
    height: 32px;
    border-radius: 2px;
    border: solid 1px var(--silver);
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 6px;
    font-size: 14px;
}

.pangation:hover{
    cursor:pointer;
    border: solid 1px var(--lightish-blue);
}

.pangation_wide{
    padding-right: 15px;
    padding-left: 15px;
    font-size: 14px;
    color:var(--lightish-blue);
}

/* чекбокс */

.check {
    display: none;
}

.check-custom {
    position: relative;
    width: 14px;
    height: 14px;
    background-color: transparent;
    border: solid 1px var(--silver);
}

.check-custom,
.check-label {
    display: inline-block;
    vertical-align: middle;
    color: var(--silver);
    font-size: 11px;
}

.check:checked + .check-custom::before {
    content: "";
    display: block;
    position: absolute;
    top:    1px;
    right:  1px;
    bottom: 1px;
    left:   1px;
    background: var(--lightish-blue);
}


/* модальное окно */

.wnd_modal {
    z-index: 10;
    position: absolute;
    top:calc(100%/2 - 1px);
    left: calc(100%/2 - 1px);
    padding: 10px;
    width: 500px;
    background: white;
    border: 1px solid #ccc;
    box-shadow: -2rem 2rem 2rem var(--black);
    visibility: hidden;
}

.button > a{
    color: inherit;
}


.screen{
    /*
    position: relative;
    visibility:hidden;
    margin: auto;
    overflow-x:hidden;
//    top: 100px; left: 0; bottom: 0; right: 0;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 100px;
    */
    top:100px;
    height: 100%;
    z-index: 100;

}

tr{
    border: 10px solid transparent;
}

td {
    color: inherit;
    height: 50px;
    vertical-align: bottom;
}

table{

    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    opacity: 0.8;

}

tbody:nth-child(even){
    background: white;
}

tbody:nth-child(odd){
    background: #f2f3f5;
}



.screen::-webkit-scrollbar { width: 0; }
.screen { -ms-overflow-style: none; }

.screen { overflow: -moz-scrollbars-none; }
/*  glue */
.sticky{
z-index: 9999;

}

.sticky-content.fixed{
    position: fixed;

}
.xxx{
    height: 100px;
}